.boardWrapper {
  position: relative;
  text-align: center;
  background-color: #fbfbfd;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stats {
  position: absolute;
  top: 40px;
  right: 40px;
  flex-shrink: 0;
}

.title {
  margin: 20px;
  font-size: 2rem;
}

.red {
  color: #ff3b30;
}

.blue {
  color: #007aff;
}

.board {
  display: grid;
  gap: 5px;
  background: linear-gradient(145deg, #f9f9fb 0%, #ececef 50%, #e4e4e8 100%);
  border: 1px solid #d2d2d7;
  padding: 10px;
  border-radius: 10px;
  width: max-content;
  margin: 0 auto;
}


.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0 40px 0;
  flex-wrap: wrap;
  align-items: center;
}

.resetButton {
  padding: 15px 30px;
  border: none;
  border-radius: 10px;
  background-color: #007aff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  width: auto;
}

.resetButton:hover {
  background-color: #0056d6;
}


@media (max-width: 480px) {
  .boardWrapper {
     flex-direction: column;
    align-items: center;
    gap: 20px;
  }
   .stats {
    position: static;
    margin-top: 16px;
    order: 2;
  }

  .board {
    gap: 3px;
    padding: 6px;
  }

  .buttonContainer {
    flex-direction: column;
    gap: 8px;
  }

  .resetButton {
    width: 90%;
    max-width: 240px;
  }
}